body
{

background-color: #EFC69B;
overflow-x: hidden;

}

#header {
  /* The image used */
  background-image: url("museo.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#links {

  display: inline-grid;
  list-style-type: none;
  font-size: 24px;
  left: 35%;
  position: relative;

}

#info {

  display: inline-grid;
  list-style-type: square;
  font-size: 24px;
  left: 15%;
  position: relative;

}


#up:hover {color: blue}
tr:nth-child(even){background-color: #F9DEC9}
tr:nth-child(odd){background-color: #FFB58D}
tr:hover {background-color: #E8CBC7}

table, th, td {
  border: 1px solid black;
}

table{
	border-collapse: collapse;  
    position: relative;
    width: 100%;
}

th
{

background-color: #6F1A07;
height: 50px;
width: 10%;
text-align: center;
padding: 3px;
color: white;

}

td{

text-align: center;
padding: 3px;

}


ul {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #610505;
  top: 0px;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#roomSelector{
  position: relative;
  left: 34%;
}

.menu a:hover:not(.active) {
  background-color: #910808;
}

.active {
  background-color: #DE7C5A;
}
